<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" id="modalAgregarProducto" data-width="50%">
    <div class="modal-header" style="background:#b7dbe6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="tituloModalActPri">Agregar Producto</h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="panel" style="padding-left:15px;padding-right:15px">
                <div class="row">
                   @*  <div class="col-sm-5">
                        <div class="form-group">
                            <label for="lblNombreProducto" class="col-sm-4" style="padding-right:3px">Producto: </label>
                            <div class="col-sm-8">
                                <input type="text" name="nombreProducto" id="nombreProducto" readonly class="form-control" />
                            </div>
                        </div>
                    </div> *@
                  @*   <div class="col-sm-12">
                        <div class="table-responsive" style="border:1px solid #ddd;min-height:270px;max-height:270px;overflow-y:scroll">
                            <table class="table table-bordered" data-select="true" data-navigator="true">
                                <thead>
                                    <tr>
                                        <th>Actividad</th>
                                        <th>Estado</th>
                                        <th>Calificacion</th>
                                      
                                    </tr>
                                </thead>
                                <tbody id="Tb_ListaActividadesPrincipales"></tbody>
                            </table>
                        </div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>